---
import MainMenu from './menus/MainMenu.astro';

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<header class:list={["px-4 py-4", className]}>
    <div class="max-w-5xl mx-auto flex items-center justify-between">
        <!-- You can add your logo here -->
        <a href="/" class="no-underline cursor-pointer">
            <img src="/logo.png" alt="The BluePrint" class="h-8 sm:h-10 md:h-14 w-auto" />
        </a>
        
        <!-- Menu Area (Right Aligned) -->
        <MainMenu />
    </div>
</header>
